
Body {
    background-color:rgb(16, 3, 70);
}

img {

    width: 600px;
    height: 400px;
}

P, H1,H2,H3,H4,H5,H6 {

    color: white;
}

a {
    Color:white;
}

title {

    color: white;
}